# **DICTIONARY LAB ASSIGNMENT**

#1)You have student scores for different subjects. Create a dictionary that maps each student to their highest score

#example data:

#scores=
       [
         {student':'Alice','subject':'Math','Score':90},
         {student':'Alice','subject':'English','Score':85},
         {student':'Bob','subject':'Math','Score':75},
         {student':'Bob','subject':'English','Score':80},
         {student':'Charlie','subject':'Math','Score':95},
         {student':'Charlie','subject':'English','Score':88}
       ]
output:

 ['Charlie':95 , 'Alice':90, 'Bob':80]

In [1]:
scores = [
    {'student': 'Alice', 'subject': 'Math', 'Score': 90},
    {'student': 'Alice', 'subject': 'English', 'Score': 85},
    {'student': 'Bob', 'subject': 'Math', 'Score': 75},
    {'student': 'Bob', 'subject': 'English', 'Score': 80},
    {'student': 'Charlie', 'subject': 'Math', 'Score': 95},
    {'student': 'Charlie', 'subject': 'English', 'Score': 88}
]

# Dictionary to hold highest score for each student
highest_scores = {}

for entry in scores:
    name = entry['student']
    score = entry['Score']

    # Update if student not in dict or found a higher score
    if name not in highest_scores or score > highest_scores[name]:
        highest_scores[name] = score

# Output
print(highest_scores)

{'Alice': 90, 'Bob': 80, 'Charlie': 95}

#2)You have a list of items ,each with name and category.Group the items by their category ,where each category maps to a list of item names

#Sample data:

#items=
   [
     {'name'':'Apple','category':'fruit'},
     {'name'':'Banana','category':'fruit'},
     {'name'':'Carrot','category':'Vegetable'},
     {'name'':'Brocoli','category':'Vegetable'},
     {'name'':'Chicken','category':'Meat'}
     
   ]
output:

 # Fruit ['Apple' , 'Banana']
 #Vegetable ['Carrot' ,'Brocoli']
 #Meat['Chicken']

In [2]:
items = [
    {'name': 'Apple', 'category': 'Fruit'},
    {'name': 'Banana', 'category': 'Fruit'},
    {'name': 'Carrot', 'category': 'Vegetable'},
    {'name': 'Brocoli', 'category': 'Vegetable'},
    {'name': 'Chicken', 'category': 'Meat'}
]

# Dictionary to group items by category
grouped_items = {}

for item in items:
    category = item['category']
    name = item['name']

    if category not in grouped_items:
        grouped_items[category] = []
    grouped_items[category].append(name)

# Output the grouped items
for category, names in grouped_items.items():
    print(f"{category}: {names}")

Fruit: ['Apple', 'Banana']
Vegetable: ['Carrot', 'Brocoli']
Meat: ['Chicken']