# **LISTS LAB ASSIGNMENT**

#1)You have a list of employees records,and you need to create a new list that contains thr names of employees who work in the 'Sales' department ,all in uppercase

#example data:

#employees=
           [
             {"name":"John Doe","department":"Sales"},
             {"name":"Jane Smith","department":"Marketing"},
             {"name":"Emily Johnson","department":"Sales"},
             {"name":"Michael Brown","department":"HR"},
           ]


output:

     ['JOHN DOE' , 'EMILY JOHNSON]

In [1]:
employees = [
    {"name": "John Doe", "department": "Sales"},
    {"name": "Jane Smith", "department": "Marketing"},
    {"name": "Emily Johnson", "department": "Sales"},
    {"name": "Michael Brown", "department": "HR"},
]

# Get names of employees in Sales department in uppercase
sales_employees_upper = [emp["name"].upper() for emp in employees if emp["department"] == "Sales"]

# Output
print(sales_employees_upper)

['JOHN DOE', 'EMILY JOHNSON']

#2)You have a list of email addresses and you want to extract the domain part(the part after '@')from each email address

#example data:

#emails =
         [
          "alice@example.com",
          "bob@sample.org",
          "charlie@mydomain.net"
         ]

#output:

#s['example.com' , 'sample.org' , 'mydomain.net']

In [2]:
emails = [
    "alice@example.com",
    "bob@sample.org",
    "charlie@mydomain.net"
]

# Extract domain part from each email
domains = [email.split('@')[1] for email in emails]

# Output
print(domains)

['example.com', 'sample.org', 'mydomain.net']