# **Lab Assignment 02**

# 1)Using input() function take one number from the user and using ternary operators check whether the number is even or odd

In [3]:
#user input

number=int(input("Enter a number"))

#ternary operatory

print(f"{number} is even") if number%2==0 else print(f"{number} is odd")

Enter a number5
5 is odd

# 2)Using input function take two number and then swap the number

In [4]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Swap using a temporary variable
temp = num1
num1 = num2
num2 = temp

# Display the swapped values
print("After swapping:")
print("First number:", num1)
print("Second number:", num2)

Enter the first number: 5
Enter the second number: 8
After swapping:
First number: 8.0
Second number: 5.0

# 3)Write a program to convert kilometers to miles

In [5]:
#user input
kilometers = float(input("Enter the distance in kilometers: "))


kilometers_to_miles = 0.621371 # Conversion factor

# Convert kilometers to miles
miles = kilometers * kilometers_to_miles

# Display the result
print(f"{kilometers} kilometers is equal to {miles} miles.")

Enter the distance in kilometers: 56
56.0 kilometers is equal to 34.796776 miles.

# 4.Find the Simpe Interest on Rs.200 for 5 years at 5% per year

In [6]:
# Given data
principal_amount = 200  # Principal amount in Rs.
rate_of_interest = 5    # Interest rate per year in percentage
time_period = 5         # Time period in years

# Calculating Simple Interest using the formula
simple_interest = (principal_amount * rate_of_interest * time_period) / 100

# Displaying the result
print(f"The Simple Interest on Rs.{principal_amount} for {time_period} years at {rate_of_interest}% per annum is Rs.{simple_interest}")

The Simple Interest on Rs.200 for 5 years at 5% per annum is Rs.50.0