# **Lab Assignment 10**

# 1)Write a Python Program to sum all the items in a list

In [2]:
#create a sample list
my_list = [65, 31, 56, 78, 23]

sum = 0

# through loop list f items are adding to sum variable
for item in my_list:
       sum += item

# Print the result
print("The sum of all the items in the list is:", sum)

The sum of all the items in the list is: 253

# 2)Write a Python Program To get the largest and smallest number from a list without builtin function

In [4]:
#list of numbers
numbers = [10, 58, 4, 45, 19, -5]


max_value = numbers[0]
min_value = numbers[0]

# Loop through the list to find the largest and smallest numbers
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

# Print the results
print("The largest number is:", max_value)
print("The smallest number is:", min_value)

The largest number is: 58
The smallest number is: -5

# 3)Write a Python Program to find duplicate values from a list and display those.

In [7]:
#list of numbers
list1 = [10, 20, 30, 10, 30, 50, 20, 60]

# 2 different variables for duplicates and unique
unique_elements = set()
duplicates = set()

# Loop through the list to find duplicates
for num in list1:
    if num in unique_elements:
        duplicates.add(num)
    else:
        unique_elements.add(num)

# Convert the set of duplicates to a list and print
print("Duplicate values are:", list(duplicates))

Duplicate values are: [10, 20, 30]

# 4)Write a Python Program to split a given list into two parts where the length of the first part of the list is given.

# original list
# [1,1,2,3,4,4,5,1]

# length of first part of the list :03

# splitted said list into 2 parts
# ([1,1,2] [3,4,4,5,1])

In [8]:
#original list
input_list = [1, 1, 2, 3, 4, 4, 5, 1]

# Length of the first part
split_index = 3

# Split the list into two parts
first_half = input_list[:split_index]
second_half = input_list[split_index:]

# Print the results
print("Original list:", input_list)
print("Length of the first part of the list:", split_index)
print("Splitted list into two parts:", (first_half, second_half))

Original list: [1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list: 3
Splitted list into two parts: ([1, 1, 2], [3, 4, 4, 5, 1])

# 5)Write a python program to traverse a given list in a reverse order ,and print the elements with the original index

# original list:
# ['red','green','white','black']

#Traverse the list in reverse order:

#black
#white
#green
#red

In [9]:
#given color list
colors = ['red', 'green', 'white', 'black']

# Traversing the list in reverse order using a  for loop
for color in colors[::-1]:
    print(color)

black
white
green
red